<div>
    <a class="delete_comment" href="/api/wall/delete_comment/<%= comment_data.id %>">X</a>
    <p><%= comment_data.name %> (<%= comment_data.created_at %>)</p>
    <p><%= comment_data.content %></p>
</div>
